Section.heading {
    background-image: url(../img/heading.jpg);
    height : 150px;
    width : 100%;
    text-align: center;
}

body {
    background-image: url(../img/metal.jpg);
}

img {
    padding: 10px;
}